<div th:fragment="main-sidebar" class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div> 
            <a href="#" class="nav_logo">
                <img src="/assets/pstmnIcon.png"
                     alt="Philpost Icon"
                     class="sidebar-logo icon-logo">

                <span class="nav_logo-name">
                    PHIL<span class="logo-red-accent">POST</span>
                    <div class="logo-subtitle">Document Depository</div>
                </span>
            </a>

            <div class="nav_list"> 

                <a th:href="@{/dashboard}"
                   class="nav_link"
                   th:classappend="${activePage == 'dashboard'} ? ' active'">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>

                <a th:href="@{/uploadpage}"
                   class="nav_link"
                   th:classappend="${activePage == 'upload'} ? ' active'">
                    <i class='bx bx-cloud-upload nav_icon'></i>
                    <span class="nav_name">Upload</span>
                </a>
                
                <a th:href="@{/files}"
                   class="nav_link"
                   th:classappend="${activePage == 'files'} ? ' active'">
                    <i class='bx bx-folder nav_icon'></i>
                    <span class="nav_name">My Files</span>
                </a>

                <a th:href="@{/shared}"
                   class="nav_link"
                   th:classappend="${activePage == 'shared'} ? ' active'">
                    <i class='bx bx-share-alt nav_icon'></i>
                    <span class="nav_name">Shared Files</span>
                </a>

                <a th:href="@{/settings}"
                   class="nav_link"
                   th:classappend="${activePage == 'settings'} ? ' active'">
                    <i class='bx bx-cog nav_icon'></i>
                    <span class="nav_name">Settings</span>
                </a>
                <a th:if="${session.user.role == 'ADMIN'}"
                th:href="@{/users}"
                class="nav_link" th:classappend="${activePage == 'users'} ? ' active'">
                <i class="bx bx-user"></i>
                <span class="nav_name">Users</span>
                </a>

            </div>
        </div> 

        <a th:href="@{/logout}" class="nav_link"> 
            <i class='bx bx-log-out nav_icon'></i> 
            <span class="nav_name">Sign Out</span> 
        </a>
    </nav>
</div>
